@using StellarMindsWebApp.Enums
@model StellarMindsWebApp.Models.Prestamo.BusquedaMesAnioPrestamosModel

@{
    ViewData["Title"] = "Mis préstamos";
}

<h1>Mis préstamos</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<form asp-controller="Prestamo"
      asp-action="PrestamosUsuarioEnPeriodo"
      method="get"
      class="mb-4">

    <div class="row align-items-end">

        <div class="col-md-4">
            <label class="form-label">Mes y año</label>

            <input type="month"
                   name="MesAnio"
                   class="form-control"
                   value="@Model.MesAnio.ToString("yyyy-MM")" />
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">
                Buscar
            </button>
        </div>

    </div>

</form>

@if (Model.Prestamos == null || !Model.Prestamos.Any())
{
    <div>
        <p>No hay préstamos para mostrar en el mes seleccionado.</p>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id préstamo</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Equipo visual</th>
                <th>Montura</th>
                <th>Telescopio</th>
                <th>Socio</th>
                <th>Estado</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Prestamos)
            {
                <tr>
                    <td>@item.PrestamoId</td>
                    <td>@item.Inicio.ToString("dd/MM/yyyy")</td>
                    <td>@item.Fin.ToString("dd/MM/yyyy")</td>
                    <td>@item.EquipoVisualMarcaModelo</td>
                    <td>@item.MonturaMarcaModelo</td>
                    <td>@item.TelescopioMarcaModelo</td>
                    <td>@item.SocioNombreApellido</td>
                    @{
                        bool estaAtrasado = item.Estado == EstadoPrestamo.PRESTADO
                                            && DateTime.Today > item.Fin.Date;
                    }

                    <td>
                        @if (estaAtrasado)
                        {
                            <p class="fw-bolder text-danger">ATRASADO</p>
                        }
                        else
                        {
                            @item.Estado
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}